<!DOCTYPE html>
<html ng-app='moduleOne'>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="java.js"></script>
	<title>GoldRush</title>

</head>


<body ng-controller='controllerOne'>

<div id="map" ng-click="click($event, $index)">
	
</div>

<div ng-show="show" style="position: absolute; left: {{spot.x}}px; top: {{spot.y}}px;" ng-repeat="spot in locations track by $index" ng-click="removeSpot($index)" ng-mouseenter="enter($index)" ng-mouseleave="leave($index)">

<img class="x" src="redx.jpg">

<p class="textBox" ng-show="textBox"> {{locations[$index].note}} </p>

</div>

</body>
</html>